# OS
.DS_Store

# IDE
.idea/
.vscode/
*.iml

# Android / Gradle
.gradle/
**/build/
local.properties
keystore.properties
keystore/
*.jks
*.keystore

# Kotlin / JVM
*.class

# Flutter / Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Logs
*.log

# Node
node_modules/
